// Filter buttons
.filter-button {
    border: none;
    background: transparent;
    color: white;
    border-radius: 2px;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.filter-button.filter-active:hover {
    opacity: initial;
}