.main-header {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}

.main-header__menu {
    display: flex;
    gap: 42px;
}

.main-header__menu a:hover {
    opacity: 0.5;
}

.active {
    border-bottom: 2px solid white;
}