.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.575);
}

// Lightbox controls
.lightbox__close-button {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.lightbox__close-button svg {
    margin-top: 27px;
    margin-right: 42px;
}

.lightbox__previous-image-container {
    position: absolute;
    bottom: 0;
    left: 42px;
    width: 50vw;
    height: 70%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.lightbox__next-image-container {
    position: absolute;
    bottom: 0;
    right: 42px;
    width: 50vw;
    height: 70%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

// Lightbox media
.lightbox__media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightbox img {
    width: 100%;
}