.filter-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.filter-active {
    background: #292620;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.gallery img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3d3932;
    &:hover {
        opacity: 0.8;
    }
}

.main-footer__social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.main-footer__social-icons li:hover {
    opacity: 0.5;
}