.home-main-content {
    padding: 0 50px;
}

.hero {
    position: relative;
}

.hero__text {
    position: absolute;
    top: -100px;
    left: 15px;
}

.hero__image {
    margin-top: 70px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.hero__image img {
    width: 580px;
    box-shadow: 6px 7px 9px -7px rgba(59,59,59,0.75);
}

// About section
.about p {
    font-size: 1.5rem;
}

.about-container-1,
.about-container-2 {
    display: flex;
    gap: 12px;
}

.about-container-2 {
    margin-top: 20px;
}

.about__picture-1,
.about__picture-2 {
    height: 300px;
}

// Footer
.home-main-footer__social-icons {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.home-main-footer__social-icons li:hover {
    opacity: 0.5;
}

// Responsive mode

@media all and (max-width: 800px) {

    // About section
    .about-container-1,
    .about-container-2 {
        flex-direction: column;
    }
    .about__picture-1 {
        object-fit: cover;
    }
}