.home-main-content {
    padding: 0 50px;
}

.hero {
    position: relative;
}

.hero__text {
    position: absolute;
    top: -100px;
    left: 15px;
    margin-top: 42px;
}

.hero h1 {
    margin-top: 0;
}

.hero__image {
    margin-top: 70px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.hero__image img {
    width: 580px;
    box-shadow: 6px 7px 9px -7px rgba(59,59,59,0.75);
}

// About section
.about p {
    font-size: 1.3rem;
}


.about-container-1 {
    // Makes a "block formatting context" to force the parent element to contain Its child elements.
    overflow: hidden;
}
.about-container-2 {
    margin-top: 20px;
    overflow: hidden;
}

.about__picture-1,
.about__picture-2 {
    height: 300px;
}

.about__picture-1 {
    float: left;
    margin-right: 15px;
}
.about__picture-2 {
    float: right;
    margin-right: 15px;
}

// Footer
.home-main-footer__social-icons {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.home-main-footer__social-icons li:hover {
    opacity: 0.5;
}

// Responsive mode

@media all and (max-width: 800px) {

    // About section
    .about-container-1,
    .about-container-2 {
        display: flex;
        flex-direction: column;
    }
    .about__picture-1,
    .about__picture-2 {
        object-fit: cover;
        margin-bottom: 10px;
    }

    // Main section
    .home-main-content {
        padding: 0 5px;
    }
}