*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #877e6d;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}