*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #877e6d;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

/* Typography */
body {
    font-family: 'Playfair Display', serif;
}

/* Homepage */
.home-main-content h1 {
    font-size: 4rem;
    margin-bottom: 0;
}
.home-main-content p {
    margin-top: 0;
    font-size: 2rem;
}

/* Filter options */
.filter-active {
    background: #292620;
}

.filter-button.filter-active:hover {
    opacity: initial;
}