*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    padding-left: 0;
}

body {
    background: #877e6d;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

svg {
    width: 20px;
}

svg path {
    fill: white;
}

/* Typography */
body {
    font-family: 'Playfair Display', serif;
}
