---
import { Header } from "../components/Header";
import Layout from "../layouts/Layout.astro";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<Layout title="Contact | Piotr Wojcik">
  <Header client:load currentPath={currentPath} />
  <main>
    <h1 class="contact-title">Contact</h1>
    <div class="contact-text">
      <p>Intéressé par l'une de mes œuvres exposées dans la galerie&nbsp;?<br/> Ou peut-être avez-vous une idée spécifique en tête pour une peinture personnalisée&nbsp;?<br/> Vous souhaitez organiser une exposition ou simplement échanger sur mon travail&nbsp;?<br/> N'hésitez pas à me contacter en remplissant le formulaire ci-dessous.</p>
    </div>
    <div class="contact-form">
      <form name="contact" action="/success/" method="POST" data-netlify="true">
        <div class="form-group">
          <label
            ><span class="label-text">Nom</span>
            <input type="text" name="name" required /></label
          >
        </div>
        <div class="form-group">
          <label
            ><span class="label-text">Email</span>
            <input type="email" name="email" required /></label
          >
        </div>
        <div class="form-group">
          <label
            ><span class="label-text">Message</span>
            <textarea name="message" required></textarea></label
          >
        </div>
        <p>
          <button type="submit">Envoyer</button>
        </p>
      </form>
    </div>
  </main>
</Layout>

<style>
  .contact-text {
    display: flex;
    justify-content: center;
  }
  p {
    margin-top: 0;
    max-width: 600px;
    font-size: 1.3rem;
  }
  main {
    padding: 0 16px;
  }
  
  /* Contact form */
  .contact-form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .contact-form form {
    width: 600px;
  }

  .form-group {
    margin-bottom: 1.4rem;
  }

  .label-text {
    display: inline-block;
    margin-bottom: 0.4rem;
  }

  .contact-form input,
  .contact-form textarea {
    border-radius: 2px;
    border: none;
    height: 35px;
    width: 100%;
    background: #615a4e;
    color: white;
    padding-left: 8px;
  }

  .contact-form textarea {
    height: 200px;
    resize: none;
  }

  .contact-form button {
    background: #615a4e;
    color: white;
    border: none;
    padding: 7px 15px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
  }
  /* Layout */
  .contact-title {
    text-align: center;
  }
  .contact-info {
    text-align: center;
    font-family: "Playfair Display", serif;
  }
  form button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
</style>
