---
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
import Lightbox from "../components/Lightbox.astro";
import GalleryComponent from "../components/GalleryComponent";

const images = await Astro.glob("./galleryItems/*.md");
---

<Layout title="Galerie | Piotr Wojcik">
  <Header />
  <main>
    <div class="filter-options">
      <input
        class="filter-options__all filter-button filter-active"
        type="button"
        value="Tous"
      />
      <input
        class="filter-options__black-white filter-button"
        type="button"
        value="Peintures noir et blanc"
      />
      <input
        class="filter-options__colour filter-button"
        type="button"
        value="Peintures couleur"
      />
      <input
        class="filter-options__drawings filter-button"
        type="button"
        value="Dessins"
      />
    </div>
    <GalleryComponent images={images} client:load />
  </main>
  <Lightbox />
  <div class="scroll-to-top">
    <img src="/assets/icons/chevron-up.svg" alt="Retour en haut de page" />
  </div>
</Layout>

<!-- <script src="../scripts/gallery.js"></script> -->

<style>
  .filter-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
  }

  .filter-button {
    border: none;
    background: transparent;
    color: white;
    border-radius: 2px;
    font-size: 1.4rem;
    font-family: "Playfair Display", serif;
  }
  .filter-button:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .scroll-to-top {
    position: fixed;
    right: 2rem;
    background-color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: all 0.4s;
    opacity: 0;
    bottom: 0rem;
  }
  .scroll-to-top_active {
    opacity: 1;
    pointer-events: auto;
    bottom: 2rem;
  }
  .scroll-to-top_active:hover {
    opacity: 0.8;
  }
  .scroll-to-top_active:active {
    transform: scale(0.9);
  }
  .scroll-to-top img {
    pointer-events: none;
  }
</style>
