---
import { Header } from "../components/Header";
import Layout from "../layouts/Layout.astro";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<Layout title="Success" noIndex={true}>
  <Header client:load currentPath={currentPath} />
  <main>
    <p class="success-message">Votre message a bien été envoyé, merci !</p>
  </main>
</Layout>

<style>
  .success-message {
    text-align: center;
    margin-top: 200px;
    font-size: 1.5rem;
  }
</style>
