---
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Success">
  <Header />
  <main>
    <p class="success-message">Votre message a bien été envoyé, merci !</p>
  </main>
</Layout>

<style>
  .success-message {
    text-align: center;
    margin-top: 200px;
    font-size: 1.5rem;
  }

  .success-main-footer__social-icons {
    margin-top: 150px;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 70px;
  }
</style>
