.filter-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}

.filter-button {
  border: 1px solid #c9c9c9;
  background: transparent;
  color: black;
  padding: 4px 12px;
  border-radius: 6px;
}

.filter-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.filter-active {
  background: #292620;
  color: white;
}

.filter-button.filter-active:hover {
  opacity: initial;
}
