.image-container {
  width: 100%;
  aspect-ratio: 1 / 1; /* Pray for a square. */
  background-color: #3d3932;
  border-radius: 5px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image-container img:hover {
  opacity: 0.8;
}

.image-description {
  display: flex;
  justify-content: space-between;
}

.image-description p {
  margin-top: 4px;
}
