.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 70px;
  /* Throwing random styles */
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  /* I don't know why, 100 looks good? */
  max-width: 100rem;
}
