.image-container img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3d3932;
}

.image-container img:hover {
    opacity: 0.8;
}

.image-description {
    display: flex;
    justify-content: space-between;
}

.image-description p {
    margin-top: 4px;
}