---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import instagram from "../assets/icons/instagram.svg";
import shopping from "../assets/icons/shopping-cart.svg";
---

<header class="main-header">
  <nav>
    <ul class="main-header__menu">
      <li>
        <a class={currentPath === "" ? "active" : ""} href="/">Accueil</a>
      </li>
      <li>
        <a
          class={currentPath.includes("galerie") ? "active" : ""}
          href="/galerie/">Galerie</a
        >
      </li>
      <li>
        <a
          class={currentPath.includes("contact") ? "active" : ""}
          href="/contact/">Contact</a
        >
      </li>
      <li>
        <a title="Instagram" href="https://www.instagram.com/piotrwojcik.peintures">
          <img src={instagram.src} alt="Instagram." />
        </a>
      </li>
            <li>
        <a title="Boutique" href="https://www.artmajeur.com/piotr-wojcik">
          <img height="24" src={shopping.src} alt="Boutique." />
        </a>
      </li>
    </ul>
  </nav>
</header>
<style>
  .main-header {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    padding: 20px 0;
    background-color: rgb(123, 127, 131);
  }

  .main-header__menu {
    margin-left: 0;
    display: flex;
    gap: 42px;
  }

  .main-header__menu a:hover {
    opacity: 0.5;
  }

  .main-header__menu a:active {
    opacity: 0.3;
  }

  /* Todo : set active nav link */
  .active {
    border-bottom: 2px solid white;
  }

  @media all and (max-width: 555px) {
    .main-header {
      margin-right: 0;
      display: block;
    }

    .main-header__menu {
      gap: 0;
      justify-content: space-around;
    }
  }
</style>
